
<table style="text-align:center"><tr><td colspan="2" style="border-bottom: 1px solid black"></td></tr><tr><td style="text-align:left"></td><td><em>Dependent variable:</em></td></tr>
<tr><td></td><td colspan="1" style="border-bottom: 1px solid black"></td></tr>
<tr><td style="text-align:left"></td><td>fallecido</td></tr>
<tr><td colspan="2" style="border-bottom: 1px solid black"></td></tr><tr><td style="text-align:left">as.factor(tipo_accidente)Accidente por MUSE</td><td>-0.011</td></tr>
<tr><td style="text-align:left"></td><td>(0.231)</td></tr>
<tr><td style="text-align:left"></td><td></td></tr>
<tr><td style="text-align:left">as.factor(year)2003</td><td>0.153<sup>*</sup></td></tr>
<tr><td style="text-align:left"></td><td>(0.080)</td></tr>
<tr><td style="text-align:left"></td><td></td></tr>
<tr><td style="text-align:left">as.factor(year)2004</td><td>-0.236<sup>**</sup></td></tr>
<tr><td style="text-align:left"></td><td>(0.094)</td></tr>
<tr><td style="text-align:left"></td><td></td></tr>
<tr><td style="text-align:left">as.factor(year)2005</td><td>0.110</td></tr>
<tr><td style="text-align:left"></td><td>(0.073)</td></tr>
<tr><td style="text-align:left"></td><td></td></tr>
<tr><td style="text-align:left">as.factor(year)2006</td><td>0.020</td></tr>
<tr><td style="text-align:left"></td><td>(0.068)</td></tr>
<tr><td style="text-align:left"></td><td></td></tr>
<tr><td style="text-align:left">as.factor(year)2007</td><td>-0.059</td></tr>
<tr><td style="text-align:left"></td><td>(0.077)</td></tr>
<tr><td style="text-align:left"></td><td></td></tr>
<tr><td style="text-align:left">as.factor(year)2008</td><td>0.037</td></tr>
<tr><td style="text-align:left"></td><td>(0.078)</td></tr>
<tr><td style="text-align:left"></td><td></td></tr>
<tr><td style="text-align:left">as.factor(year)2009</td><td>-0.014</td></tr>
<tr><td style="text-align:left"></td><td>(0.080)</td></tr>
<tr><td style="text-align:left"></td><td></td></tr>
<tr><td style="text-align:left">as.factor(year)2010</td><td>0.073</td></tr>
<tr><td style="text-align:left"></td><td>(0.085)</td></tr>
<tr><td style="text-align:left"></td><td></td></tr>
<tr><td style="text-align:left">as.factor(year)2011</td><td>-0.045</td></tr>
<tr><td style="text-align:left"></td><td>(0.096)</td></tr>
<tr><td style="text-align:left"></td><td></td></tr>
<tr><td style="text-align:left">as.factor(year)2012</td><td>-0.169<sup>*</sup></td></tr>
<tr><td style="text-align:left"></td><td>(0.097)</td></tr>
<tr><td style="text-align:left"></td><td></td></tr>
<tr><td style="text-align:left">as.factor(year)2013</td><td>-0.143</td></tr>
<tr><td style="text-align:left"></td><td>(0.099)</td></tr>
<tr><td style="text-align:left"></td><td></td></tr>
<tr><td style="text-align:left">as.factor(year)2014</td><td>0.054</td></tr>
<tr><td style="text-align:left"></td><td>(0.115)</td></tr>
<tr><td style="text-align:left"></td><td></td></tr>
<tr><td style="text-align:left">as.factor(year)2015</td><td>-0.027</td></tr>
<tr><td style="text-align:left"></td><td>(0.114)</td></tr>
<tr><td style="text-align:left"></td><td></td></tr>
<tr><td style="text-align:left">as.factor(year)2016</td><td>0.405<sup>**</sup></td></tr>
<tr><td style="text-align:left"></td><td>(0.161)</td></tr>
<tr><td style="text-align:left"></td><td></td></tr>
<tr><td style="text-align:left">as.factor(year)2017</td><td>0.112</td></tr>
<tr><td style="text-align:left"></td><td>(0.163)</td></tr>
<tr><td style="text-align:left"></td><td></td></tr>
<tr><td style="text-align:left">as.factor(year)2018</td><td>-0.118</td></tr>
<tr><td style="text-align:left"></td><td>(0.082)</td></tr>
<tr><td style="text-align:left"></td><td></td></tr>
<tr><td style="text-align:left">as.factor(year)2019</td><td>-0.083</td></tr>
<tr><td style="text-align:left"></td><td>(0.133)</td></tr>
<tr><td style="text-align:left"></td><td></td></tr>
<tr><td style="text-align:left">as.factor(year)2020</td><td>-0.046</td></tr>
<tr><td style="text-align:left"></td><td>(0.115)</td></tr>
<tr><td style="text-align:left"></td><td></td></tr>
<tr><td style="text-align:left">as.factor(month)2</td><td>-0.026</td></tr>
<tr><td style="text-align:left"></td><td>(0.076)</td></tr>
<tr><td style="text-align:left"></td><td></td></tr>
<tr><td style="text-align:left">as.factor(month)3</td><td>0.031</td></tr>
<tr><td style="text-align:left"></td><td>(0.080)</td></tr>
<tr><td style="text-align:left"></td><td></td></tr>
<tr><td style="text-align:left">as.factor(month)4</td><td>0.025</td></tr>
<tr><td style="text-align:left"></td><td>(0.080)</td></tr>
<tr><td style="text-align:left"></td><td></td></tr>
<tr><td style="text-align:left">as.factor(month)5</td><td>0.122</td></tr>
<tr><td style="text-align:left"></td><td>(0.077)</td></tr>
<tr><td style="text-align:left"></td><td></td></tr>
<tr><td style="text-align:left">as.factor(month)6</td><td>-0.001</td></tr>
<tr><td style="text-align:left"></td><td>(0.080)</td></tr>
<tr><td style="text-align:left"></td><td></td></tr>
<tr><td style="text-align:left">as.factor(month)7</td><td>0.202<sup>**</sup></td></tr>
<tr><td style="text-align:left"></td><td>(0.085)</td></tr>
<tr><td style="text-align:left"></td><td></td></tr>
<tr><td style="text-align:left">as.factor(month)8</td><td>0.124</td></tr>
<tr><td style="text-align:left"></td><td>(0.081)</td></tr>
<tr><td style="text-align:left"></td><td></td></tr>
<tr><td style="text-align:left">as.factor(month)9</td><td>0.044</td></tr>
<tr><td style="text-align:left"></td><td>(0.085)</td></tr>
<tr><td style="text-align:left"></td><td></td></tr>
<tr><td style="text-align:left">as.factor(month)10</td><td>-0.057</td></tr>
<tr><td style="text-align:left"></td><td>(0.084)</td></tr>
<tr><td style="text-align:left"></td><td></td></tr>
<tr><td style="text-align:left">as.factor(month)11</td><td>-0.022</td></tr>
<tr><td style="text-align:left"></td><td>(0.089)</td></tr>
<tr><td style="text-align:left"></td><td></td></tr>
<tr><td style="text-align:left">as.factor(month)12</td><td>-0.010</td></tr>
<tr><td style="text-align:left"></td><td>(0.086)</td></tr>
<tr><td style="text-align:left"></td><td></td></tr>
<tr><td style="text-align:left">as.factor(condicion)Fuerza pública</td><td>0.074</td></tr>
<tr><td style="text-align:left"></td><td>(0.098)</td></tr>
<tr><td style="text-align:left"></td><td></td></tr>
<tr><td style="text-align:left">as.factor(genero)Masculino</td><td>0.121</td></tr>
<tr><td style="text-align:left"></td><td>(0.084)</td></tr>
<tr><td style="text-align:left"></td><td></td></tr>
<tr><td style="text-align:left">as.factor(genero)Sin Información</td><td>0.494<sup>**</sup></td></tr>
<tr><td style="text-align:left"></td><td>(0.242)</td></tr>
<tr><td style="text-align:left"></td><td></td></tr>
<tr><td style="text-align:left">as.factor(actividad)Agricultura</td><td>0.021</td></tr>
<tr><td style="text-align:left"></td><td>(0.157)</td></tr>
<tr><td style="text-align:left"></td><td></td></tr>
<tr><td style="text-align:left">as.factor(actividad)Área Despejada</td><td>-0.221</td></tr>
<tr><td style="text-align:left"></td><td>(0.418)</td></tr>
<tr><td style="text-align:left"></td><td></td></tr>
<tr><td style="text-align:left">as.factor(actividad)Cuidado de animales</td><td>-0.042</td></tr>
<tr><td style="text-align:left"></td><td>(0.247)</td></tr>
<tr><td style="text-align:left"></td><td></td></tr>
<tr><td style="text-align:left">as.factor(actividad)Erradicador manual - PCI</td><td>0.014</td></tr>
<tr><td style="text-align:left"></td><td>(0.162)</td></tr>
<tr><td style="text-align:left"></td><td></td></tr>
<tr><td style="text-align:left">as.factor(actividad)Fuerza pública</td><td>0.091</td></tr>
<tr><td style="text-align:left"></td><td>(0.115)</td></tr>
<tr><td style="text-align:left"></td><td></td></tr>
<tr><td style="text-align:left">as.factor(actividad)Jugando</td><td>0.062</td></tr>
<tr><td style="text-align:left"></td><td>(0.260)</td></tr>
<tr><td style="text-align:left"></td><td></td></tr>
<tr><td style="text-align:left">as.factor(actividad)Manipulación</td><td>0.414</td></tr>
<tr><td style="text-align:left"></td><td>(0.347)</td></tr>
<tr><td style="text-align:left"></td><td></td></tr>
<tr><td style="text-align:left">as.factor(actividad)Pasando, estando cerca</td><td>0.071</td></tr>
<tr><td style="text-align:left"></td><td>(0.152)</td></tr>
<tr><td style="text-align:left"></td><td></td></tr>
<tr><td style="text-align:left">as.factor(actividad)Recogiendo comida, agua ó madera</td><td>-0.018</td></tr>
<tr><td style="text-align:left"></td><td>(0.159)</td></tr>
<tr><td style="text-align:left"></td><td></td></tr>
<tr><td style="text-align:left">as.factor(actividad)Sin Información</td><td>0.029</td></tr>
<tr><td style="text-align:left"></td><td>(0.139)</td></tr>
<tr><td style="text-align:left"></td><td></td></tr>
<tr><td style="text-align:left">as.factor(actividad)Trabajos de casa</td><td>0.073</td></tr>
<tr><td style="text-align:left"></td><td>(0.285)</td></tr>
<tr><td style="text-align:left"></td><td></td></tr>
<tr><td style="text-align:left">as.factor(actividad)Transito por trocha atajo</td><td>0.538<sup>**</sup></td></tr>
<tr><td style="text-align:left"></td><td>(0.241)</td></tr>
<tr><td style="text-align:left"></td><td></td></tr>
<tr><td style="text-align:left">as.factor(actividad)Transito por via usual</td><td>0.168</td></tr>
<tr><td style="text-align:left"></td><td>(0.212)</td></tr>
<tr><td style="text-align:left"></td><td></td></tr>
<tr><td style="text-align:left">as.factor(actividad)Viajando</td><td>0.048</td></tr>
<tr><td style="text-align:left"></td><td>(0.419)</td></tr>
<tr><td style="text-align:left"></td><td></td></tr>
<tr><td style="text-align:left">as.factor(cod_mpio)54003</td><td>-0.466<sup>**</sup></td></tr>
<tr><td style="text-align:left"></td><td>(0.227)</td></tr>
<tr><td style="text-align:left"></td><td></td></tr>
<tr><td style="text-align:left">as.factor(cod_mpio)54051</td><td>-0.673<sup>*</sup></td></tr>
<tr><td style="text-align:left"></td><td>(0.353)</td></tr>
<tr><td style="text-align:left"></td><td></td></tr>
<tr><td style="text-align:left">as.factor(cod_mpio)54109</td><td>-0.727<sup>***</sup></td></tr>
<tr><td style="text-align:left"></td><td>(0.270)</td></tr>
<tr><td style="text-align:left"></td><td></td></tr>
<tr><td style="text-align:left">as.factor(cod_mpio)54206</td><td>-0.548<sup>**</sup></td></tr>
<tr><td style="text-align:left"></td><td>(0.222)</td></tr>
<tr><td style="text-align:left"></td><td></td></tr>
<tr><td style="text-align:left">as.factor(cod_mpio)54239</td><td>0.839</td></tr>
<tr><td style="text-align:left"></td><td>(0.510)</td></tr>
<tr><td style="text-align:left"></td><td></td></tr>
<tr><td style="text-align:left">as.factor(cod_mpio)54245</td><td>-0.421<sup>*</sup></td></tr>
<tr><td style="text-align:left"></td><td>(0.235)</td></tr>
<tr><td style="text-align:left"></td><td></td></tr>
<tr><td style="text-align:left">as.factor(cod_mpio)54250</td><td>-0.478<sup>**</sup></td></tr>
<tr><td style="text-align:left"></td><td>(0.222)</td></tr>
<tr><td style="text-align:left"></td><td></td></tr>
<tr><td style="text-align:left">as.factor(cod_mpio)54261</td><td>-0.647<sup>**</sup></td></tr>
<tr><td style="text-align:left"></td><td>(0.291)</td></tr>
<tr><td style="text-align:left"></td><td></td></tr>
<tr><td style="text-align:left">as.factor(cod_mpio)54344</td><td>-0.475<sup>**</sup></td></tr>
<tr><td style="text-align:left"></td><td>(0.223)</td></tr>
<tr><td style="text-align:left"></td><td></td></tr>
<tr><td style="text-align:left">as.factor(cod_mpio)54347</td><td>-0.814<sup>**</sup></td></tr>
<tr><td style="text-align:left"></td><td>(0.354)</td></tr>
<tr><td style="text-align:left"></td><td></td></tr>
<tr><td style="text-align:left">as.factor(cod_mpio)54377</td><td>-0.566</td></tr>
<tr><td style="text-align:left"></td><td>(0.356)</td></tr>
<tr><td style="text-align:left"></td><td></td></tr>
<tr><td style="text-align:left">as.factor(cod_mpio)54398</td><td>-0.418<sup>*</sup></td></tr>
<tr><td style="text-align:left"></td><td>(0.228)</td></tr>
<tr><td style="text-align:left"></td><td></td></tr>
<tr><td style="text-align:left">as.factor(cod_mpio)54498</td><td>-0.422<sup>*</sup></td></tr>
<tr><td style="text-align:left"></td><td>(0.255)</td></tr>
<tr><td style="text-align:left"></td><td></td></tr>
<tr><td style="text-align:left">as.factor(cod_mpio)54660</td><td>-0.609</td></tr>
<tr><td style="text-align:left"></td><td>(0.554)</td></tr>
<tr><td style="text-align:left"></td><td></td></tr>
<tr><td style="text-align:left">as.factor(cod_mpio)54670</td><td>-0.432<sup>*</sup></td></tr>
<tr><td style="text-align:left"></td><td>(0.222)</td></tr>
<tr><td style="text-align:left"></td><td></td></tr>
<tr><td style="text-align:left">as.factor(cod_mpio)54680</td><td>-0.797<sup>***</sup></td></tr>
<tr><td style="text-align:left"></td><td>(0.275)</td></tr>
<tr><td style="text-align:left"></td><td></td></tr>
<tr><td style="text-align:left">as.factor(cod_mpio)54720</td><td>-0.387<sup>*</sup></td></tr>
<tr><td style="text-align:left"></td><td>(0.227)</td></tr>
<tr><td style="text-align:left"></td><td></td></tr>
<tr><td style="text-align:left">as.factor(cod_mpio)54800</td><td>-0.446<sup>**</sup></td></tr>
<tr><td style="text-align:left"></td><td>(0.218)</td></tr>
<tr><td style="text-align:left"></td><td></td></tr>
<tr><td style="text-align:left">as.factor(cod_mpio)54810</td><td>-0.316</td></tr>
<tr><td style="text-align:left"></td><td>(0.219)</td></tr>
<tr><td style="text-align:left"></td><td></td></tr>
<tr><td style="text-align:left">as.factor(cod_mpio)54820</td><td>-0.652<sup>**</sup></td></tr>
<tr><td style="text-align:left"></td><td>(0.280)</td></tr>
<tr><td style="text-align:left"></td><td></td></tr>
<tr><td style="text-align:left">dist_vias</td><td>-0.00000</td></tr>
<tr><td style="text-align:left"></td><td>(0.00001)</td></tr>
<tr><td style="text-align:left"></td><td></td></tr>
<tr><td style="text-align:left">dist_cpoblado</td><td>-0.00001<sup>*</sup></td></tr>
<tr><td style="text-align:left"></td><td>(0.00001)</td></tr>
<tr><td style="text-align:left"></td><td></td></tr>
<tr><td style="text-align:left">dist_hospi</td><td>0.00001</td></tr>
<tr><td style="text-align:left"></td><td>(0.00001)</td></tr>
<tr><td style="text-align:left"></td><td></td></tr>
<tr><td style="text-align:left">Constant</td><td>0.402</td></tr>
<tr><td style="text-align:left"></td><td>(0.264)</td></tr>
<tr><td style="text-align:left"></td><td></td></tr>
<tr><td colspan="2" style="border-bottom: 1px solid black"></td></tr><tr><td style="text-align:left">Observations</td><td>874</td></tr>
<tr><td style="text-align:left">R<sup>2</sup></td><td>0.185</td></tr>
<tr><td style="text-align:left">Adjusted R<sup>2</sup></td><td>0.114</td></tr>
<tr><td style="text-align:left">Residual Std. Error</td><td>0.384</td></tr>
<tr><td style="text-align:left">F Statistic</td><td>2.599<sup>***</sup></td></tr>
<tr><td colspan="2" style="border-bottom: 1px solid black"></td></tr><tr><td style="text-align:left"><em>Note:</em></td><td style="text-align:right"><sup>*</sup>p<0.1; <sup>**</sup>p<0.05; <sup>***</sup>p<0.01</td></tr>
</table>
